<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        Title: {{ question.title }}<br>
        Text: {{ question.text }}<br>
        Author: {{ question.author }}<br><br>
        {% for answer in question.answer_set.all %}
        Answer: {{ answer.text }}<br>
        Author: {{ answer.author }}<br><br>
        {% endfor %}
        <form method="post" action="/question/{{ question.pk }}/">
            {% csrf_token %}
            <p>Answer: </p>
            <p>{{ form.text }}</p>
            <p>{{ form.question }}</p>
            <input type="submit" value="Send answer">
        </form>
    </body>
</html>